<div class="limiter">
    <form autocomplete="off" #loginForm="ngForm">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title">
					<h3>Aplicação ainda em desenvolvimento, use as credencias para testar aplicação!</h3>
					<h5> Login: admin@financialmanagement.com </h5>
					<h5> Senha: admin</h5>
                </div>

                <form class="login100-form validate-form">
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" name="username" placeholder="Enter username" ngModel
                               required #usuario>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="pass" placeholder="Enter password" ngModel
                               required #senha>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" type="submit" label="Login" [disabled]="loginForm.invalid"
                                (click)="login(usuario.value, senha.value); senha.value='';">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </form>
</div>